.widt{
    width: 1000px;
}
.mart{
    margin: auto;
}
.post(r){
    position: relative;
}
section{
    .post(r);
    .section_biaoti{
   .widt;
   .mart;
   height: 134px;
   font-size: 38px;
   text-align: center;
   line-height: 134px;
} 
.section_zuixin{
    width: 342px;
    margin: auto;
        a{
            padding: 0px 0px  10px 0px;
            text-align: center;
            width: 166px;
            display: inline-block;
            
        }
        .reds_s{
            border-bottom: 2px solid red;
        }
    }
    .bads_box {
        width: 100%;
        background-color: #f7f7f7;
        .bads_box1{
            .widt;
            .mart;
            padding-top: 20px;
           
            .post(r);
            .bads_boxl{
                width: 700px;
                .imgbac{
                    height: 414px;
                    border-radius: 6px;
                    background: url(./../img/bg8.jpg) no-repeat ;
                    background-size: cover;
                    margin-bottom: 20px;
                    .imgbac_d{
                        height: 120px;
                        background-color: #e9ecf1e3;
                        .post(r);
                        top: 294px;
                        left: 0px;
                    }
                    p{
                        padding: 24px;
                        font-size: 14px;
                    }
                    span{
                        color: #a1a1a3;
                        display: inline-block;
                        font-size: 12px;
                    }
                    .span_ims{
                        width: 20px;
                        height: 20px;
                        padding-left: 24px;
                         background: url(./img) no-repeat center center;
                    }
                    .span_red{
                        color: #ff5c41;
                        padding-left: 5px;
                    }
                    .imgbac_r_img1{
                        padding-right: 24px;
                        background: url(./img/zan.png) no-repeat 0px center;
                    }
                    .imgbac_r_img2 {
                        padding-right: 24px;
                        background: url(./img/reply.png) no-repeat 0px center;
                    }
                    .imgbac_r{
                        padding-left: 15px;
                        float: right;
                    }
                }
                .imgbacim7{
                    background: url(./../img/bg7.jpg) no-repeat;
                    background-size: cover;
                }
                .imgbacim6{
                    background: url(./../img/bg6.jpg) no-repeat;
                    background-size: cover;
                }
                .imgbacim4{
                    background: url(./../img/bg4.jpg) no-repeat;
                    background-size: cover;
                }
                .imgbacim5{
                    background: url(./../img/bg5.jpg) no-repeat;
                    background-size: cover;
                }
                .imgbacim3 {
                     display: none;
                    background: url(./../img/bg3.jpg) no-repeat;
                    background-size: cover;
                }
                .imgbacim2 {
                     display: none;
                    background: url(./../img/bg2.jpg) no-repeat;
                    background-size: cover;
                }
                .imgbacim1 {
                    display: none;
                    background: url(./../img/bg1.jpg) no-repeat;
                    background-size: cover;
                }
                .imgbac_red{
                    color: #ff523f;
                    line-height: 90px;
                    text-align: center;
                    cursor: pointer;
                }
            }
            .bads_boxr{
                width: 270px;
                position: absolute;
                right: 0px;
                top: 20px;
                .bads_boxr_1li{
                    border-left: 6px solid #ff523f;
                    padding-left: 20px;
                    line-height: 25px;
                    font-size: 18px;
                    margin-bottom: 20px;   
                }
                .bads_boxr_h5p{
                        margin-top: 20px;
                        h4{
                            margin-top: 20px;
                        }
                    p{
                        color: #9fa0a4;
                        margin-top: 14px;
                        line-height: 24px;
                        font-size: 14px;
                    }
                    }
                    .bads_boxr_gli{
                        margin-top: 20px;
                    }
            }
        }
    }
}
