//默认样式
*{
    margin: 0;
}
ul,li{
    list-style: none;
}


section{
    //宽高变量
    .WH(@W:100%,@H:100%){
        width: @W;
        height: @H;
    }
    //背景颜色
    .BAK(@bak){
        background-color: @bak;
    }
    //定位
    .PR(@rt:0px,@rl:0px){
        position: relative;
        top: @rt;
        left: @rl;
    }
    .PA(@at:0px,@al:0px){
        position: absolute;
        top: @at;
        left: @al;
    }
    .TL(@ft:0px,@fl:0px){
        top: @ft;
        left: @fl;
    }

    //正式css
    .out{
        margin: 0 auto;
        .BAK(#f7f7f7);
        .more{
            .WH(112px,150px);
            margin: 70px auto -40px auto;
            color: #ff4747;
        }
        .head{
            margin: 0 auto;
            .WH(100%,174px);
            .BAK(white);
            text-align: center;
            p{
                font-size: 40px;
                padding-top: 40px;
            }
            ul{
                .WH(330px,82px);
                margin: 0 auto;
                .orange{
                    color: #f8572b;
                    border-bottom: 4px solid #f8572b;
                }
                li{
                    font-size: 17px;
                    color: #919095;
                    .WH(165px,38px);
                    float: left;
                    padding-top: 40px;
                }
            }
        }
        .body{
            .WH(1000px,100%);
            margin: 2px auto;
            overflow: hidden;
            .cengdie{
                .WH(250px,285px);
                float: left;
                ul{
                    .PR();
                    z-index: 6;
                    border: 1px solid #ddd;
                    .BAK(white);
                    border-radius: 5px;
                    margin: 25px 0 0 30PX;
                    .WH(212px,226px);
                    li:nth-child(1){
                        img{
                            border-radius: 5px;
                            .WH(212px,132px);
                        }
                    }
                    li:nth-child(2){
                        margin: 10px;
                        .WH(192px,45px);
                        color: #45372e;
                    }
                    li:nth-child(3){
                        background: url(./img/xin.png)no-repeat 0px 2px ;
                        background-size: 14px;
                        font-size: 14px;
                        color: #a5a29f;
                        margin: -4px 0 0 140px;
                        .WH(30px,18px);
                    }
                    li:nth-child(4){
                        background: url(./img/reply.png)no-repeat 0px 2px ;
                        background-size: 14px;
                        font-size: 14px;
                        color: #a5a29f;
                         margin: -18px 0 0 175px;
                        .WH(30px,18px);
                    }
                }
                .p_1{
                    .WH(194px,20px);
                    z-index: 3;
                    border: 1px solid #ddd;
                    .BAK(white);
                    .PR(-16px,38px);
                }
                .p_2{
                    .WH(170px,20px);
                    z-index: 1;
                    border: 1px solid #ddd;
                    .BAK(white);
                    .PR(-33px,50px);
                }
            }
        }
    }






}