* {
  margin: 0;
}
ul,
li {
  list-style: none;
}
footer .foot_out {
  margin: 0 auto;
  background-color: #505050;
}
footer .foot_out .foot_all {
  margin: 0 auto;
  width: 1423px;
  height: 380px;
  position: relative;
}
footer .foot_out .foot_all a {
  color: #8d8d8b;
  font-size: 14px;
  text-decoration: none;
}
footer .foot_out .foot_all div {
  position: absolute;
  top: 0px;
  left: 0px;
}
footer .foot_out .foot_all div h3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  height: 26px;
  color: white;
}
footer .foot_out .foot_all div ul li {
  font-size: 14px;
  color: #8d8d8b;
}
footer .foot_out .foot_all .dv1 {
  top: 40px;
  left: 180px;
  width: 160px;
  height: 160px;
}
footer .foot_out .foot_all .dv1 img {
  width: 160px;
  height: 160px;
}
footer .foot_out .foot_all .dv2 {
  top: 40px;
  left: 370px;
  width: 132px;
  height: 130px;
}
footer .foot_out .foot_all .dv2 ul li {
  width: 160px;
  height: 40px;
}
footer .foot_out .foot_all .dv2 ul li:nth-child(2) {
  margin-top: 26px;
}
footer .foot_out .foot_all .dv2 ul li:nth-child(3) {
  margin-top: 15px;
}
footer .foot_out .foot_all .dv2 ul li:nth-child(4) {
  margin-top: -20px;
}
footer .foot_out .foot_all .dv3 {
  top: 40px;
  left: 550px;
  width: 152px;
  height: 100px;
}
footer .foot_out .foot_all .dv3 ul li:nth-child(1) {
  margin-top: 55px;
}
footer .foot_out .foot_all .dv4 {
  top: 40px;
  left: 680px;
  width: 200px;
  height: 180px;
}
footer .foot_out .foot_all .dv4 ul {
  position: absolute;
  top: 52px;
  left: 0px;
}
footer .foot_out .foot_all .dv4 ul li {
  float: left;
  width: 80px;
  height: 22px;
}
footer .foot_out .foot_all .dv5 {
  top: 40px;
  left: 860px;
}
footer .foot_out .foot_all .dv5 li:nth-child(1) {
  margin-top: 50px;
}
footer .foot_out .foot_all .dv6 {
  top: 40px;
  left: 1060px;
}
footer .foot_out .foot_all .dv6 ul li:nth-child(1) {
  margin-top: 50px;
}
footer .foot_out .foot_all p {
  width: 160px;
  height: 20px;
  margin: 0 auto;
  color: #8d8d8b;
}
footer .foot_out .foot_all p span {
  font-size: 14px;
  position: relative;
  top: 320px;
  left: 0px;
}
