.back {
  background-color: #f3f3f3;
}
.borde {
  border-radius: 6px;
}
section {
  width: 1000px;
  height: 1100px;
  margin: auto;
  position: relative;
  top: 50px;
}
section .section_1 {
  width: 270px;
  height: 320px;
  position: absolute;
  background-color: #f3f3f3;
  border-radius: 6px;
}
section .section_1 .section_li_1 {
  height: 36px;
  width: 230px;
  border-bottom: 1px solid #a3a3a3;
  margin-left: 21px;
}
section .section_1 .section_li_1 h1 {
  margin-top: 8px;
  margin-left: 20px;
}
section .section_1 li h3 {
  margin-left: 41px;
  margin-top: 16px;
}
section .section_1 li p {
  margin-left: 50px;
  margin-top: 12px;
}
section .section_2 {
  width: 700px;
  height: 1000px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #f3f3f3;
  border-radius: 6px;
}
section .section_2 .section_2_ul {
  margin-left: 30px;
  margin-right: 30px;
}
section .section_2 .section_2_ul .section_2_li_1 {
  margin-top: 28px;
  border-bottom: 1px solid #a3a3a3;
}
section .section_2 .section_2_ul .section_2_li_1 h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}
section .section_2 .section_2_ul li .section_2_h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
section .section_2 .section_2_ul li h3 {
  margin-top: 60px;
  margin-bottom: 30px;
}
section .section_2 .section_2_ul li p {
  font-size: 14px;
  margin-bottom: 10px;
}
