

//默认样式
*{
    margin: 0;
}
ul,li{
    list-style: none;
}


section{
    //宽高变量
    .WH(@W:100%,@H:100%){
        width: @W;
        height: @H;
    }
    //背景颜色
    .BAK(@bak){
        background-color: @bak;
    }
    //定位
    .PR(@rt:0px,@rl:0px){
        position: relative;
        top: @rt;
        left: @rl;
    }
    .PA(@at:0px,@al:0px){
        position: absolute;
        top: @at;
        left: @al;
    }
    .TL(@ft:0px,@fl:0px){
        top: @ft;
        left: @fl;
    }

    //正式样式
    .section{
        margin: 0 auto;
        .BAK(#f7f7f7);
        .out{
            .PR(0,340px);
            .WH(700px,auto);
            .head{
                .WH(300px,40px);
                li{
                    padding-top: 14px;
                    font-size: 12px;
                    color:#a5a4a0;
                    float: left;
                }
            }
            .body{
                .BAK(#ffffff);
                .b_div1{
                    border-bottom: 1px solid #dfdfdf;
                    .WH(700px,130px);
                    p:nth-child(1){
                        padding: 32px 0 0 26px;
                        font-size: 25px;
                    }
                    p:nth-child(2){
                        padding: 20px 0 0 26px;
                        font-size: 11px;
                        color: #a5a4a0;
                    }
                    p:nth-child(3){
                        .PR(-16px,600px);
                        font-size: 11px;
                        color: #a5a4a0;
                    }
                }
                .b_div2{
                    .WH(700px,4710px);
                    ul{
                        li{
                            margin: 22px;
                            .WH(650px,auto);
                            font-size: 14px;
                            line-height: 20px;
                        }
                        li:nth-child(3),
                        li:nth-child(8),
                        li:nth-child(17){
                            text-align: center;
                        }
                        li:nth-child(21),
                        li:nth-child(23),
                        li:nth-child(25){
                            margin-top: -20px;
                        }
                        li:nth-child(28){
                            .WH(650px,14px);
                            margin-top: 80px;
                            color: #9d969e;
                        }
                        li:nth-child(29){
                            .WH(650px,20px);
                            margin-top: -10px;
                            color: #9d969e;
                        }
                    }
                }
            }
        }
        .right{
            .WH(250px,110px);
            .BAK(#ffffff);
            .PR(-4864px,1080px);
            box-shadow: 2px 2px 2px 2px  #ebebeb;
            ul{
                box-sizing: border-box;
                li{
                    .WH(123px,110px);
                    float: left;
                }
                li:nth-child(1),
                li:nth-child(2){
                    border-right: 1px #ebebeb solid;
                    text-align: center;
                    img{
                        margin-top: 30px;
                    }
                }
                li:nth-child(2){
                    img{
                        margin-top: 34px;
                    }
                }
            }
        }
    }
}