* {
  margin: 0;
}
ul,
li {
  list-style: none;
}
section {
  background-color: #f7f7f7;
}
section .section {
  margin: 0 auto;
  width: 1000px;
  height: auto;
}
section .section .out {
  width: 700px;
  height: auto;
}
section .section .out .head {
  width: 300px;
  height: 40px;
}
section .section .out .head li {
  padding-top: 14px;
  font-size: 12px;
  color: #a5a4a0;
  float: left;
}
section .section .out .body {
  background-color: #ffffff;
}
section .section .out .body .b_div1 {
  border-bottom: 1px solid #dfdfdf;
  width: 700px;
  height: 130px;
}
section .section .out .body .b_div1 p:nth-child(1) {
  padding: 32px 0 0 26px;
  font-size: 25px;
}
section .section .out .body .b_div1 p:nth-child(2) {
  padding: 20px 0 0 26px;
  font-size: 11px;
  color: #a5a4a0;
}
section .section .out .body .b_div1 p:nth-child(3) {
  position: relative;
  top: -16px;
  left: 600px;
  font-size: 11px;
  color: #a5a4a0;
}
section .section .out .body .b_div2 {
  width: 700px;
  height: 4710px;
}
section .section .out .body .b_div2 ul li {
  margin: 22px;
  width: 650px;
  height: auto;
  font-size: 14px;
  line-height: 20px;
}
section .section .out .body .b_div2 ul li:nth-child(3),
section .section .out .body .b_div2 ul li:nth-child(8),
section .section .out .body .b_div2 ul li:nth-child(17) {
  text-align: center;
}
section .section .out .body .b_div2 ul li:nth-child(21),
section .section .out .body .b_div2 ul li:nth-child(23),
section .section .out .body .b_div2 ul li:nth-child(25) {
  margin-top: -20px;
}
section .section .out .body .b_div2 ul li:nth-child(28) {
  width: 650px;
  height: 14px;
  margin-top: 80px;
  color: #9d969e;
}
section .section .out .body .b_div2 ul li:nth-child(29) {
  width: 650px;
  height: 20px;
  margin-top: -10px;
  color: #9d969e;
}
section .section .out .right {
  width: 251px;
  height: 110px;
  background-color: #ffffff;
  position: relative;
  top: -4864px;
  left: 750px;
  box-shadow: 2px 2px 2px 2px #ebebeb;
}
section .section .out .right ul {
  box-sizing: border-box;
}
section .section .out .right ul li {
  width: 124px;
  height: 110px;
  float: left;
}
section .section .out .right ul li:nth-child(1) {
  border-right: 1px #ebebeb solid;
}
section .section .out .right ul li:nth-child(1),
section .section .out .right ul li:nth-child(2) {
  text-align: center;
}
section .section .out .right ul li:nth-child(1) img,
section .section .out .right ul li:nth-child(2) img {
  margin-top: 30px;
}
section .section .out .right ul li:nth-child(2) img {
  margin-top: 34px;
}
